{{ if .Site.Data.gifts.enable}}
{{"<!-- Start gifts Section -->" | safeHTML}}
<section class="bg-one about section" id="about">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                <h2>{{ .Site.Data.gifts.heading}}</h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

        </div>
    </div>
</section>
{{"<!-- /gifts -->" | safeHTML}}
{{ end }}
