{{ if .Site.Data.kit.enable}}
{{"<!-- Start kit Section -->" | safeHTML}}
<section class="call-to-action section bg-1 overly" id="kit" style='background-image: url("{{ .Site.Data.travel.bgImage | absURL }}")'>
    <div class="layer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>{{ .Site.Data.kit.heading}}</h2>
                    <div class="border"></div>
                </div>
                {{ range .Site.Data.kit.content }}
                  <p>{{ . | safeHTML }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{"<!-- /kit -->" | safeHTML}}
{{ end }}