{{ if .Site.Data.travel.enable}}
{{"<!-- Start Travel Section -->" | safeHTML}}
<section class="call-to-action section bg-1 overly" id="travel" style='background-image: url("{{ .Site.Data.travel.bgImage | absURL }}")'>
    <div class="layer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    <h2>{{ .Site.Data.travel.heading}}</h2>
                    <div class="border"></div>
                </div>
               {{ with .Site.Data.travel.content }} <p>{{ . }}</p> {{ end }}
            </div>
        </div>
    </div>
</section>
{{"<!-- /travel -->" | safeHTML}}
{{ end }}